// imports
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
// colors
$primary: #30a0ee;
$error: #ef5777;
$success: #1abc9c;
$light: #f5f8fa;
$medium: #657786;
$dark: #34495e;
$white: #fff;

button {
  outline: none;
}

a {
  text-decoration: none;
}

.fade-enter-active {
  transition: opacity 0.5s;
}

.fade-leave-active {
  transition: opacity 0s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
